<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- %t thread name  %-5level 打印日志级别
            %logger 日志类名
            %l 方法名和行数-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level  %l :%n %msg%n"/>
        </Console>
        <File name="log" fileName="logs/console.log" append="true" >
            <!--文件生成位于项目路径-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level  %l :%n %msg%n"/>
        </File>
        <!--
        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level  %l :%n %msg%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile > -->
    </appenders>
    <loggers>
        <!-- additivity 开 启 ，由于BasicJdk也属于root，故会打印 2 次 -->
        <logger name="cn.zain" level="trace" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="log"/>
        </logger>
        <!--所有的logger继承root-->
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>