<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user" class="cn.zain.model.User">
        <property name="userName" value="struts1"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="userService" class="cn.zain.service.impl.UserServiceImpl">
        <property name="user" ref="user"/>
    </bean>
    <bean id="loginAction" name="/login" class="cn.zain.action.LoginAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userAction" name="/userinfo" class="cn.zain.action.UserAction">
        <property name="userService" ref="userService"/>
    </bean>
</beans>